<app-nav-menu></app-nav-menu>
<div class={{divLangSideMenu}}  *ngIf="!CheckIsLogin()">
  <!-- Sidebar  -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h4>لوحة التحكم</h4>
      </div>

      <ul class="list-unstyled components">
          <p>Dummy Heading</p>
          <li class="active">
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                  class="dropdown-toggle">المستخدمين</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li>
                      <a (click)="CheckUser()">قائمة المستخدمين</a>
                  </li>
                  <li>
                      <a (click)="CheckUserRoleList()"> صلاحيات المستخدمين للمجموعات</a>
                  </li>
                  <li>
                    <a (click)="UserPermissions()"> صلاحيات المستخدمين</a>
                  </li>
                  <li>
                    <a (click)="RolesPermissions()"> صلاحيات المجموعات</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">التصنيفات</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a (click)="GetCategoryList()">التصنيفات الأساسية</a>
                  </li>
                  <li>
                      <a (click)="GetSubCategoryList()">التصنيفات الفرعية</a>
                  </li>
                  <li>
                      <a href="#">Page 3</a>
                  </li>
              </ul>
          </li>
          <li>
            <a href="#pageMovie" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">أفلام ومسلسلات</a>
            <ul class="collapse list-unstyled" id="pageMovie">
                <li>
                    <a (click)="GetActorList()">قائمة الممثلين</a>
                </li>
                <li>
                  <a (click)="GetMovieList()">قائمة الأفلام</a>
              </li>
              <li>
                <a (click)="GetMovieLinkList()">قائمة الروابط</a>
            </li>
            <li>
                <a (click)="GetMovieActorList()">قائمة ممثلين الافلام</a>
            </li>
            </ul>
        </li>
          <li>
            <a href="#salesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">المبيعات</a>
            <ul class="collapse list-unstyled" id="salesSubmenu">
                <li>
                    <a (click)="GetItemList()">قائمة الاصناف</a>
                </li>
                <li>
                    <a (click)="GetOrder()">فاتورة البيع</a>
                </li>
                <li>
                  <a (click)="GridFilter()">Grid Filter</a>
                </li>
            </ul>
        </li>
        <li>
          <a href="#settingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Setting</a>
          <ul class="collapse list-unstyled" id="settingSubmenu">
              <li>
                  <a (click)="Changelanguage()">{{languageName}}</a>
              </li>
          </ul>
      </li>
          <li>
              <a href="#">About</a>
          </li>
          <li>
              <a href="#">Portfolio</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
      </ul>
  </nav>
  <!-- Page Content  -->
  <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid btn-res">
              <button type="button" id="sidebarCollapse" class="btn btn-dark">
                  <i class="fa fa-align-left"></i>
              </button>
              <div class="pl-2 pr-2 title" style="display:inline-block;">
                  لوحة التحكم
              </div>
          </div>

      </nav>
      <div class="container main-panel">
        <router-outlet></router-outlet>
    </div>

  </div>
</div>
<div class={{divLangName}} *ngIf="CheckIsLogin()">
  <router-outlet></router-outlet>
</div>
<app-footer-menu></app-footer-menu>

